table{
  width: 80%;
  background: white;
}

th{
  margin-top: 5px;
  font-weight: normal;
  font-size: 13px;
  text-align: left;
  vertical-align: bottom;
}

th p{
  margin-top: 0;
  margin-bottom: 0;
}

#cash-header{
  text-align: right;
}

.sub-title{
  color: grey;
}


#cash-available{
  text-align: right;
}

#cash{
  font-size: 16px;
  margin-bottom: 0px;
  margin-top: 5px;
}

#account{
  font-size: 18px;
  color: rgb(22, 114, 167);
  font-weight: bold;
}

#change{
  font-size: 12px;
  margin-bottom: 5px;
  margin-top: 0px;
}

td{
  margin-bottom: 10px;
  margin:0px;
}

hr {
  background-color:gray;
  border: none;
  height: 1px;
  margin: 0px;
}


#loadMore{
  text-align: center;
  font-size: 18px;
  color: rgb(22, 114, 167);
  cursor: pointer;
  padding-bottom: 5px;
}