<table >
  <thead>
  <th id='account-header' >
    <p (click)="sortData('account')">
    Account
    <i *ngIf="sortColumn === 'account' && sortDirection === 'asc'"  class="my-icon fa fa-chevron-up"></i>
    <i *ngIf="sortColumn === 'account' && sortDirection === 'desc'" class="my-icon fa fa-chevron-down"></i>
    </p>
  </th>
  <th id='cash-header' (click)="sortData('availableCash')">
    <p>Available Cash 
    <i *ngIf="sortColumn === 'availableCash' && sortDirection === 'asc'" class="my-icon fa fa-chevron-up"></i>
    <i *ngIf="sortColumn === 'availableCash' && sortDirection === 'desc'"class="my-icon fa fa-chevron-down"></i>
    </p>
    <p class="sub-title">Today's Change</p>
    </th>
    </thead>
    <tbody>
  <tr> 
  <td colspan="2"> <hr /> </td>      
</tr>
  <tr *ngFor="let transfer of accounts">
    <td id="account">{{ transfer.account }}</td>
    <td id="cash-available">
      <p id="cash">{{ convertCashValue(transfer.availableCash) }}</p>
      <p id="change" [style.color]="colorConvert(transfer)">
        <span *ngIf="transfer.isPositive && transfer.changePercentage > 0">+</span>
        <span *ngIf="!transfer.isPositive && transfer.changePercentage > 0">-</span>
        %{{ convertPercentage(transfer.changePercentage) }} / {{ convertCashValue(transfer.changeAmount) }}
      </p>
      </td>
  </tr>
  <tr>
    <td  colspan="2" id="loadMore" (click)="loadMore()" *ngIf="!checkAccountTotal()">Load more</td>
  </tr>
    </tbody>
</table>